h1{
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    color:whitesmoke;
    text-align: center;
    text-decoration: underline;
}
p{
    text-align: center;
    font-size: 25;
    color:lightgreen;
    
}
body{
    background:lightcoral
}